<h2 class="page-header p-name entry-title">Follow Me!</h2>


<h2 class="page-header p-name entry-title">Picked Projects</h2>
<%- Page.published.each do |page| %>
<%= link_to_permalink(page, page.title.html_safe) %>
<%- end %>

<div class="blog">
  <h2 class="page-header p-name entry-title">My Blog</h2>
      <%= yield %>

  <p style='text-align: center'><small>Powered by <a href='http://publify.co'>Publify</a> | Photo <a href='http://startupstockphotos.com/'>Startup stock photos</a></small></p>
</div>