<div id="myCarousel" class="carousel slide" data-ride="carousel"> 

  <div class="carousel-inner">


    <div class="item active"> 
      <div class="inner-item">
        <img src="../../images/theme/ruby_logo.png" class="slider-image animated flip">
        <p>I love ruby</p>
      </div>
    </div>


    <div class="item"> 
      <div class="inner-item">
        <img src="../../images/theme/photoshop_logo.png" class="slider-image animated flip">
        <p>I love photoshop</p>
      </div>
    </div>

    <div class="item"> 
      <div class="inner-item">
        <img src="../../images/theme/python_logo.png" class="slider-image animated flip">
        <p>I love python</p>
      </div>
    </div>

  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="row">
  <div class="col-sm-12 introduction">
    <h1 class="burakicel animated flip" id="burakicel">Burak Icel</h1>
    <h2>Full Stack Web Developer</h2>
    <h2>University of Waterloo CS 1B</h2>
    <div class="buttons">
      <button type="button" class="btn btn-default contact">Contact</button>
      <button type="button" class="btn btn-default resume">Resume</button>
      <button type="button" class="btn btn-default project">Projects</button>
    </div>
  </div>
</div>

